catboost>=1.2,<2
evidently>=0.4,<1
lightgbm>=4.3,<5
minio>=7.2,<8
mlflow==3.14.0
numpy>=2.3,<3
openpyxl>=3.1,<4
pandas==2.3.3
polars==1.43.2
psycopg[binary]>=3.1,<4
pyarrow>=23.0.1,<25
ray[data,train,tune]==2.56.1
scikit-learn==1.9.0
scikit-optimize==0.10.2
shap>=0.45,<1
sqlalchemy>=2.0,<3
torch==2.9.1
xgboost-cpu==2.1.4
zenml==0.96.2
